SOLANA_CLUSTER=mainnet-beta
SOLANA_RPC_URL=
SOLARA_PROGRAM_ID=
SOLR_MINT=
SOLR_REWARD_VAULT=
SOLR_DECIMALS=9
ADMIN_WALLET_PUBLIC_KEY=
ADMIN_KEYPAIR_PATH=
REWARD_VAULT_INITIAL_FUND_AMOUNT=
WITHDRAW_DESTINATION_TOKEN_ACCOUNT=
